{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:react/recommended",
    "google",
    "eslint-config-prettier",
    "plugin:testing-library/react",
    "plugin:jest-dom/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint", "simple-import-sort"],
  "rules": {
    "require-jsdoc": "off",
    "quotes": ["error", "double"],
    "object-curly-spacing": ["error", "always"],
    "indent": "off",
    "comma-dangle": "off",
    "import/no-anonymous-default-export": "off",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "warn"
  }
}
